@{
    ViewBag.Title = "Restaurants Home Page";
}

@*Display the top 5 restaurants*@
<div class="text-center">
    <h1>Provo's Top 5 Restaurants</h1>
    <p><a asp-action="Restaurants">Click here</a> to view my top five favorite restaurants in Provo!</p>
    <img src="~/img/provo.jpg" width="1000" /><br /><br />
    <a class="btn btn-primary" asp-action="Restaurants">View the List</a>
</div>
